/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.pointer {
    cursor: pointer;
}

app-root { display: flex;
    justify-content: space-between;
    padding: 50px;}
    app-calendar-view { width: 100%;}


    .cdk-overlay-pane { width: 500px;}


    .mat-dialog-title::before { content: none;}
   